@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Imagenes </h1>
    
</div>

<p>
     <a asp-action="SubirFail"><button class="btn btn-danger"> Crear Producto</button></a>
</p>